.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.dark-tile{
    background-color: #779556;
}

.light-tile{
    background-color: #ebecd0;
}

.tile img{
    width: 80px;

}